@import "tailwindcss";

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  background-color: #152C28;
  --color-bg-light: #e8f5e9;
  --color-text-main: #1b5e20;
}

